{% extends 'base.html' %}

{% block title %}Update Machine Balance{% endblock %}

{% block content %}
<h2>Update Machine Balance - {{ machine.name }}</h2>

<form method="POST">
    <div class="mb-3">
        <label class="form-label">New Balance</label>
        <input type="number" class="form-control" name="balance" value="{{ machine.balance }}" step="0.01" required>
    </div>
    <button id="get-pos-value" type="submit" class="btn btn-success">Update Balance</button>
</form>


{% endblock %}
